.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: clamp(2rem, 4vw, 3rem);
  color: var(--accent-color);
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
}

.content p {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  line-height: 1.5;
  color: var(--text-primary);
  font-weight: 400;
  font-family: var(--font-heading);
}
